.task-list {
  margin: 0.5rem auto;
  max-width: 80vw;
  max-height: 70vh;
  overflow: auto;
  padding: 10px 1rem;
}

.nothing {
  color: rgba(0, 0, 0, 0.4);
  font-weight: 400;
  letter-spacing: 1px;
}

@media (min-width: 1200px) {
  .task-list {
    max-width: 47vw;
  }
}
